.DS_Store
.vscode
node_modules/
logs/
.venv/pyvenv.cfg
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
database.sqlite3
database.sqlite3-shm
database.sqlite3-wal
db.sqlite3
__pycache__/
practice.py 